:markdown
  I graduated from [Georgia Tech](http://gatech.edu) with a B.S. in Computer Science. Previously, I dabbled in web development and programming through middle and high school.
  
  My professional experience includes [Squarespace](https://squarespace.com), [Yahoo! Sports](https://sports.yahoo.com), and the occasional freelance gig. My expertise is in full-stack development, with an emphasis on frontend.
  
  Lately my interests are expanding to the creative, educational, and political aspects of programming and computation. I make [electronic and ambient music](https://soundcloud.com/andthestoics) and have begun incorporating tools like [Tidal](http://tidal.lurk.org), [SuperCollider](http://supercollider.github.io), and Web Audio. I'm currently a volunteer with [ScriptEd](https://scripted.org).

  I'm also a [WREK](wrek.org) alumnus and produced weekly shows on [Live at WREK](wrek.org/live).
  
  P.S. I'm currently looking for work!

footer.footer-nav
  a(href="/resume.pdf") résumé
  |  / 
  a(href="https://github.com/pstoica") github
  |  / 
  a(href="mailto:hipatark@gmail.com") email