:markdown
  I'm currently finishing up my undergrad studies in Computer Science at [Georgia Tech](http://gatech.edu). I build full-stack web apps, but interfaces are my specialty.

  I previously interned at [Yahoo! Sports](http://sports.yahoo.com) and have worked with various startups. I'm exploring ways to use the web to support independent music.

  I've also been involved with [WREK](http://wrek.org) over the years and produced weekly shows on [Live at WREK](http://wrek.org/live).

footer.footer-nav
  a(href="/resume.pdf") résumé
  |  / 
  a(href="http://github.com/pstoica") github
  |  / 
  a(href="mailto:pstoica@gatech.edu") email