:markdown
  I studied Computer Science at [Georgia Tech](http://gatech.edu), worked at [Squarespace](https://squarespace.com) and [Yahoo! Sports](https://sports.yahoo.com), volunteer with [ScriptEd](https://scripted.org), and dabbled in freelance gigs and personal projects (some from a distant past).
  
  My professional experience is in web development, but lately I worry less about the particular medium so much as the creative, educational, and political aspects of code and computation.
  
  I make [electronic and ambient music](https://soundcloud.com/andthestoics), sometimes incorporating livecoding ([Tidal](http://tidal.lurk.org), [Sonic Pi](http://sonic-pi.net)), generative composition, and synthesis.
  
  I worked in college radio at [WREK](http://wrek.org) for several years and produced weekly live performances on [Live at WREK](http://wrek.org/live).

  By the way, I'm currently [looking for work](mailto:hipatark@gmail.com)!

footer.footer-nav
  a(href="/resume.pdf") résumé
  |  / 
  a(href="https://github.com/pstoica") github
  |  / 
  a(href="mailto:hipatark@gmail.com") email