.nav-section
  h4.nav-header Portfolio
  ul
    li
      a(href="#") native.fm
    li
      a(href="#") WREKtranet
    li
      a(href="#") SingleOps
    li
      a(href="#") WREK.org
    li
      a(href="#") Kate Godwin
    li
      a(href="#") Drew Pak
    li
      a(href="#") Yahoo! Sports
    li
      a(href="#") Plantr
    li
      a(href="#") Abundant World
    li
      a(href="#") Ampersand
  h4.nav-header Friends
  ul
    li
      a(href="http://make.kategodwin.com") Kate Godwin
    li
      a(href="http://kpetrovi.ch") Kyle Petrovich
    li
      a(href="http://drewpak.com") Drew Pak
    li
      a(href="http://wrek.org") WREK
.nav-section
  h4.nav-header Experiments
  ul
    li
      a(href="#") Web Audio Synth
    li
      a(href="#") Park Find
    li
      a(href="#") Synth2804
    li
      a(href="#") Bandcamp
    li
      a(href="#") SoundCloud
  h4.nav-header Social
  ul
    li
      a(href="#") Github
    li
      a(href="#") LinkedIn
    li
      a(href="#") Twitter
    li
      a(href="#") Last.FM
    li
      a(href="#") Facebook