:markdown
  I'm finishing up my undergrad in CS. I build full-stack web apps, but interfaces are my specialty.

  I previously interned at [Yahoo! Sports](http://sports.yahoo.com) and have worked with various startups. I'm looking for ways to use technology and the web to support independent music.

  I've also been involved with [WREK](http://wrek.org) over the years and produced weekly shows on [Live at WREK](http://wrek.org/live).

