$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

/* selection */
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: rgba($blue, 0.8);
}

/* links */
a {
  @include transition(all 0.2s ease-in);
  color: shade($blue, 5%);
  text-decoration: none;
}

a:hover, .site-title a:hover, .footer-nav a:hover {
  color: shade($blue, 40%);
}

/* type */

body, h1, h2, h3, h4 {
  font-weight: 400;
}

body {
  @include adjust-font-size-to($base-font-size);
  font-family: $slab-serif;
  background-color: $cream;
  color: $gray;
}

h1 {
  @include adjust-font-size-to(40px);
  margin: 0;
  font-style: italic;

  @include media($breakpoint-medium) {
    @include adjust-font-size-to(62px);
  }
}

.site-title a, .footer-nav a {
  color: $blue;
}

h2, .page-title {
  @include adjust-font-size-to(24px, 1.5);
  margin: rhythm(0.5, 24px) 0;

  @include media($breakpoint-medium) {
    @include adjust-font-size-to(34px);
    margin: rhythm(0.5, 34px) 0;
  }
}

h3 {
  @include adjust-font-size-to(24px);
  margin: 0 0 rhythm(0.5, 24px);
}

h4 {
  @include adjust-font-size-to(18px);
  margin: 0 0 rhythm(0.5, 18px);

  font-family: $sans-serif;
  text-transform: uppercase;
  color: $cream-dark;
}

.page-subtitle {
  @include adjust-font-size-to(14px);

  @include media($breakpoint-medium) {
    @include adjust-font-size-to(18px);
    margin: 0 0 rhythm(1.5, 18px);
  }
}

p {
  @include adjust-font-size-to(18px, 1.4);
  margin: 0 0 rhythm(1, 20px);

  @include media($breakpoint-medium) {
    @include adjust-font-size-to(20px, 1.4);
  }
}

.content {
  margin: 0 0 rhythm(1, 20px);
}

.footer-nav {
  @include adjust-font-size-to(24px, 2);
  margin: 0 0 rhythm(1, 30px);
}