$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

body, h1, h2, h3, h4 {
  font-weight: 400;
}

body {
  @include adjust-font-size-to($base-font-size);
  font-family: $slab-serif;
  background-color: $cream;
  color: $gray;
}

h1, .site-title {
  @include adjust-font-size-to(62px);
  margin: 0;
  font-style: italic;
  color: $blue;
}

h2, .page-title {
  @include adjust-font-size-to(34px);
  margin: rhythm(0.5, 34px) 0;
}

h3 {
  @include adjust-font-size-to(24px);
  margin: 0 0 rhythm(0.5, 24px);
}

h4 {
  @include adjust-font-size-to(18px);
  font-family: $sans-serif;
  text-transform: uppercase;
  color: $cream-dark;
  margin: 0 0 rhythm(0.5, 18px);
}

.page-subtitle {
  margin: 0 0 rhythm(1.5, 18px); 
}

p {
  @include adjust-font-size-to(20px, 1.4);
  margin: 0 0 rhythm(1, 20px);
}

a {
  @include transition(color 0.2s ease-in-out);
  color: $blue;
  text-decoration: none;

  &:hover {
    color: shade($blue, 20%);
  }
}