@import 'bourbon/bourbon';
@import 'components/harp-compass/scss/compass';
@import 'neat/neat';
@import 'variables';
@import 'normalize';

/* media query breakpoints */
$breakpoint-medium: new-breakpoint(min-width 42em 12);
$breakpoint-large: new-breakpoint(min-width 55em 12);

@import 'type';
@import 'media';


/* fluid media */
figure {
  position: relative;
}

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* layout */

body {
  padding: em(30);
}

.container {
  @include outer-container;
}

.site-header {
  @include row;

  @include media($breakpoint-medium) {
    @include span-columns(11);
  }

  @include media($breakpoint-large) {
    @include span-columns(7);
  }
}

.content {
  @include row;

  @include media($breakpoint-medium) {
    @include span-columns(8);
  }

  @include media($breakpoint-large) {
    @include span-columns(7);
  }
}

.nav {
  @include span-columns(12);

  @include media($breakpoint-medium) {
    @include span-columns(3);
  }

  @include media($breakpoint-large) {
    @include span-columns(4);
  }

  .active a {
    text-decoration: underline;
    //border-bottom: 1px solid $cream-dark;
    //padding-left: 5px;
    //margin-left: -6px;
  }
}

.nav-section {
  @include span-columns(6);

  @include media($breakpoint-medium) {
    @include span-columns(3 of 3);
  }

  @include media($breakpoint-large) {
    @include span-columns(2 of 4);
  }

  ul {
    margin: 0 0 rhythm(1, 16px);
    padding: 0;
    list-style-type: none;
  }
}

.project-teaser {
  @include row;

  img {
    @include span-columns(12);

    @include media($breakpoint-medium) {
      @include span-columns(3 of 7);
    }

    @include media($breakpoint-large) {
      @include span-columns(4 of 8);
    }
  }

  figcaption {
    @include span-columns(12);

    @include media($breakpoint-medium) {
      @include adjust-font-size-to(20px, 1.5);
      @include span-columns(4 of 7);
    }

    @include media($breakpoint-large) {
      @include adjust-font-size-to(24px, 1.5);
      @include span-columns(4 of 8);
    }
  }
}